.app-container {
  max-width: 500px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
}

.container-upper{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon{
  cursor: pointer;
}
.chat-box {
  padding: 1rem 2rem;
  height: 500px;
  overflow-y: auto;
  background: #fafafa;
  border-radius: 15px;
  font-size: 1rem;
}

/* Each row */
.row {
  display: flex;
  margin-bottom: 10px;
}

/* BOT → LEFT */
.row.bot {
  justify-content: flex-start;
}

/* USER → RIGHT */
.row.user {
  justify-content: flex-end;
}

/* Message bubble */
.msg {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 14px;
  line-height: 1.4;
}

/* Bot message style */
.msg.bot {
  background-color: #b9dbea;
  color: #000;
  border-top-left-radius: 4px;
}

/* User message style */
.msg.user {
  background-color: #4f46e5;
  color: #fff;
  border-top-right-radius: 4px;
}

.input-area {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  /* background: #ffffff; */
  /* border-top: 1px solid #ddd; */
}

.input-area input {
  flex: 1;
  padding: 10px 14px;
  font-size: 14px;
  outline: none;
  border: none;
  border-radius: 20px;
  /* border: 1px solid #ccc; */
}

.input-area input:focus {
  border-color: #4f46e5;
}

.input-area button {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  background-color: #4f46e5;
  color: #fff;
  cursor: pointer;
}

.input-area button:hover {
  background-color: #4338ca;
}


.sanction-box {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}
