.landing-container {
  height: auto;
  margin-top: 12vh;
  padding: 2rem;
  background-color: rgb(0, 217, 255);
  border-radius: 10px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08); */
  display: flex;
  /* border: 2px solid red; */
}

.landing-left{
    
    padding: 2rem;
    margin-right: 2rem;
    max-width: 50%;
}

.landing-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 10px;
    line-height: 0;
    /* border: 2px solid red. */
}

.landing-subtitle {
  font-size: 18px;
  color: #000000;
  margin-bottom: 30px;
  /* border: 2px solid red; */
  padding: 2rem 5rem;
  font-weight: 500;
}

.section {
  margin-bottom: 25px;
}

.section h3 {
  margin-bottom: 10px;
}

.section ul {
  padding-left: 20px;
}

.section li {
  margin-bottom: 6px;
}

.cta-button {
  margin-top: 20px;
  padding: 14px 24px;
  font-size: 16px;
  background-color: rgb(224, 11, 11);
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  /* border: 2px solid red; */
  margin-left: 11%;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
  background-color: rgb(175, 26, 26);
  transform: translateY(-2px);
}


.footer-text {
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}
