.container{
    width: 97%;
    height: 10vh;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 20px;
    position: fixed;
    top: 5px;
    z-index: 9;
}


/* LEFT SIDE */
.left-side h1 span{
    color:rgb(224, 11, 11);
    font-size: 2.5rem;
}

/* MIDDLE MENU (Desktop) */
.middle{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 10px;
    font-size: 1.1rem;
    font-weight: 700;
}

.middle h3, .button{
    cursor: pointer;
}

.middle h3 {
    transition: all 0.5s ease-in-out;
}
.middle h3:hover{
    background-color: rgb(224, 11, 11);
    color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 5px;
}
.middle h3.active {
    background-color: rgb(224, 11, 11);
    color: rgb(255, 255, 255);
    padding: 3px 8px;
    border-radius: 5px;
}

/* RIGHT SIDE */
.right-side {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right-side h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
  border: none;

  background-color: white;
  color: black;

  transition: background-color 0.9s ease, transform 0.2s ease;
}

.right-side h3:hover {
  background-color: rgb(224, 11, 11);
  color: white;
  transform: translateY(-2px);
  border: nonw;
}
/* HAMBURGER ICON */
.hamburger{
    display: none;
    cursor: pointer;
}

/* ------------------- MOBILE ------------------- */
@media only screen and (max-width: 768px){
    
    .middle{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 11vh;
        right: 0;
        gap: 0;
        /* background: white; */
        color: wheat;
        /* padding: 15px; */
        border-radius: 0 0 10px 10px;
        width: 20%;
        box-shadow: 0 0 20px rgba(166, 17, 17, 0.3);
        z-index: 10;
        font-size: 0.8rem;
    }


    /* ACTIVE MENU CLASS */
    .middle.showMenu {
        display: flex;
    }

    .hamburger{
        display: block;
    }
}

@media only screen and (min-width : 768px) and (max-width:1000px){
    .middle{
        font-size: 0.8rem;
    }
}

/* ------------------- SMALL MOBILE ------------------- */
@media only screen and (max-width: 480px){
    .left-side{
        font-size: 0.6rem;
    }

    .left-side h1 span{
        font-size: 1.4rem;
    }

    .right-side .button{
        padding: 8px 15px;
        font-size: 0.8rem;
    }
}
